
body {
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: 1em auto;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 -1em;
}

p {
    max-width: 30em;
}